.centerPage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.btnDiv {
    padding: 20px;
}
.netlogoBtn {
    font-size: 20px;
    text-align: center;
    width: 100px;
    cursor: pointer;
}

.sliders {
    padding-top:10px;
    display:flex;
    flex-direction: column;
}
.sliderBox {
    padding-right: 30px;
    padding-bottom: 20px;
}

.sliderTrack {
    background-color: white;
    width: 200px;
    height: 20px;
    border-radius: 20px;
}

.sliderThumb {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: beige;
}

.dropDownMenu {
    background-color: #DBF9FC;
    display:flex;
    flex-direction: row;
    border:solid black;
    padding: 30px;
    visibility: hidden;
    border-radius: 20px;
}

.inputs {
    padding-top: 6px;
    display: flex;
    flex-direction: column;
}
.inputBoxes {
    padding-bottom: 14px;
}

.rgbInput {
    width: 35px;
    height: 20px;
    align-content: center;
}

.previewHEX {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.HEXDisplay {
    padding-top: 10px;
}

.HEX_input {
    width:50px;
    height: 25px;
}

.preview {
    width: 100px;
    height: 100px;
    border:solid black;
    background-color: black;
}
